<div class="header">
    <div class="header__logo">
        <img src="../../assets/logo.png" alt="Logo">
    </div>
    <div class="header__navigation">
        <button class="header__navigation__button button-dashboard">Dashboard</button>
        <button class="header__navigation__button button-active">Contacts</button>
        <button class="header__navigation__button button-notifications">Notifications</button>
    </div>
    <div class="header__search">
        <div class="header__search__input-wrapper">
            <input class="header__search__input-wrapper__input" type="text" placeholder="Search">
            <div class="header__search__input-wrapper__icon">
                <i class="fas fa-search"></i>
            </div>
        </div>
    </div>
    <div class="header__menu">
        <div class="header__menu__hover">
            <div class="header__menu__hover__menu">
                <i class="fas fa-user"></i>
                <span class="header__menu__hover__menu__user">Jorah Mormont</span>
                <div class="header__menu__hover__menu__arrow"></div>
                <div class="header__menu__hover__menu__body">
                    <div class="header__menu__hover__menu__body__item"><i class="fas fa-users"></i>Groups</div>
                    <div class="header__menu__hover__menu__body__item"><i class="fas fa-comments"></i>Frequently contacted</div>
                    <div class="header__menu__hover__menu__body__item"><i class="fas fa-wrench"></i>Preferences</div>
                    <div class="header__menu__hover__menu__body__item"><i class="fas fa-power-off"></i>Log out</div>
                </div>
            </div>
        </div>
    </div>
</div>