<div class="footer">
    <div class="footer__col-1">
        <div>Dashboard</div>
        <div>Contacts</div>
        <div>Notifications</div>
        <div>© 2015 Contactify About Privacy</div>
    </div>
    <div class="footer__col-2">
        <div class="footer__col-2__row">
            <div>
                <i class="fas fa-cloud-upload-alt footer__icon--big"></i>
            </div>
            <div class="footer__col-2__row__info">
                <div>Last synced:</div>
                <div>2015-06-02 14:33:10</div>
            </div>
            <div style="padding-right: 24px">
                <i class="fas fa-sync-alt" style="padding-right: 8px"></i><u>Force sync</u>
            </div>
        </div>
        <div class="footer__col-2__spacer"></div>
        <div class="footer__col-2__row">
            <div>
                <i class="fas fa-stethoscope footer__icon--big" style="padding: 0px 28px"></i>
            </div>
            <div class="footer__col-2__row__info">
                <div>Help desk and Resolution center available:</div>
                <div>I–IV 8:00–18:00, V 8:00–16:45</div>
            </div>
        </div>
    </div>
    <div class="footer__col-3">
        <div>Groups</div>
        <div>Frequently contacted</div>
        <div>Preferences</div>
        <div>Log out</div>
    </div>
</div>